.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin-top: 84px;
  width: 900px;
  height: 580px;
  border-radius: 40px;
  background: linear-gradient(
      235deg,
      rgba(255, 235, 178, 0.15) 0.47%,
      rgba(255, 205, 59, 0.15) 50.5%,
      rgba(255, 190, 2, 0.15) 99.55%
    ),
    linear-gradient(
      302deg,
      rgba(105, 188, 46, 0.80) -0.87%,
      rgba(162, 221, 117, 0.80) 19.67%,
      rgba(255, 255, 255, 0.80) 101.81%,
      rgba(216, 241, 196, 0.80) 101.82%
    );
  display: flex;
  align-items: center;
  justify-content: center; 
  text-align: center;
  flex-direction: column;
}

.content {
  font-size: 120px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.secondContent {
  font-size: 30px;
  color: #6e6e6e;
  margin-top: 20px;
  text-align: center;
}

.howContainer {
  width: 100%;
  height: 1305px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.10) 0%,
      rgba(255, 205, 59, 0.10) 50%,
      rgba(255, 190, 2, 0.10) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.70) 0%,
      rgba(216, 241, 196, 0.70) 59%,
      rgba(162, 221, 117, 0.70) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    flex-direction: column;
}

.how {
  font-size: 110px;
  font-weight: 700;
  color: #6E6E6E;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin-top: 60px;
  text-align: center;
}

.descriptionContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 168px;
}

.descriptionItem {
  width: 400px;
  height: 584px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 55px;
}

.descriptionItem:last-child {
  margin-right: 0;
}

.box {
  width: 297px;
  height: 36px;
  padding: 12px;
  margin-top: 60px;
  border-radius: 30px;
  background: #A2DD75;
  font-size: 30px;
  font-weight: 700;
  color: #FFFFFF;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.boxText {
  font-size: 30px;
  color: #6e6e6e;
  margin-top: 50px;
  text-align: center;
}